/* MAIN ----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.body_main {
    background-color: #ffffff;
}
/* CARRO COMPRA ----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.body_carro_compra{
    background-color: #ffffff;
}
/* COMO COMPRAR ----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.body_como_comprar{
    background-color: #ffffff;
}
/* CUENTA ----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.body_cuenta{
    background-color: #ffffff;
}
/* OFERTAS ----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.body_ofertas{
    background-color: #ffffff;
}
/* PAGO ----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.body_pago{
    background-color: #ffffff;
}
/* PRODUCTOS ----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.body_productos{
    background-color: #ffffff;
}
/* TERMINOS Y CONDICIONES ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
.body_productos{
    background-color: #ffffff;
}


